{{!-- 
Citation for the following Handlebars HTML
Date: 12/08/2025
Adapted from CS340 starter code by Michael FitzPerry
--}}

<div class='pageDesc'>
  <h1>Home page</h1>
  <p>Welcome to Bits-N-Pixel's Reviews! - A Group 84 project</p>
  <br/>
  <form
    class='cuForm'
    id='reset_db_form'
    method='POST'
    action='/reset_DB'
  ><button>Reset DB</button></form>
</div>