<!DOCTYPE html>

<head>
    <title>Group 84's Project</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="stylesheet.css">
</head>

<body>
    <div class='title'>
        <div id="logo"><img src="assets/Game-Controller-Outline-White.svg"></div>
        <h1>Bits-N-Pixels</h1>
        <p>Review the best and the worst of gaming!</p>
    </div>

    <nav>
        <ol>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/games">Games</a>
            </li>
            <li>
                <a href="/users">Users</a>
            </li>
            <li>
                <a href="/reviews">Reviews</a>
            </li>
            <li>
                <a href="/lists">Lists</a>
            </li>
            <li>
                <a href="/liststogames">Lists-to-games</a>
            </li>
        </ol>
    </nav>

    {{{body}}}
</body>