*{
    margin: 0;
    padding:0;
    list-style: none;
}

img{
    width: 10em;
}

ol{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5em 1em;
}

ol:left{
}

ol:right{

}

#logo{
    text-align: center;
}

.pageDesc{
    text-align: center;
}

.title{
    text-align: center;
    background-color: gray;
    padding: 2em;
}