* {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    width: 10em;
}

ol {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5em 1em;
}


nav a:link, nav a:visited {
    background-color: gray;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 1px solid black;
}

nav a:active, nav a:hover{
    background-color: white;
    color: gray;
}

table{
    margin-top: 2em;
    justify-self: center;
    border-collapse: collapse;
}

table, th, td{
    border: 1px solid gray
}

tbody tr:nth-child(even){
    background-color: #e0e0e0;
}

tbody td{
    padding: 0 .5em;
}



#logo {
    text-align: center;
}

.pageDesc {
    text-align: center;
}

.title {
    text-align: center;
    background-color: gray;
    padding: 2em;
}